@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lily+Script+One&display=swap");

:root {
  --lily: "Lily Script One", cursive;
  --sans: "DM Sans", sans-serif;
  --light-blue: #cedef1;
  --blue-overlay: rgba(8, 38, 121, 0.397);
  --white-c: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: var(--blue-overlay); */
}

.hero-section {
  min-height: 100vh;
  width: 100%;
  background: url(./assets/images/Photo\ from\ Zain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-section::before {
  content: "";
  background: var(--blue-overlay);
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-section h1 {
  font-family: var(--lily);
  font-size: 112px;
  color: #fff;
  font-weight: 400;
  z-index: 1000;
  /* position: absolute; */
  /* position: relative; */
  /* left: 631px; */
  /* top: 478px */
}

.hero-section h2 {
  font-family: var(--lily);
  font-size: 72px;
  color: #fff;
  font-weight: 400;
  z-index: 1000;
  /* position: absolute; */
  /* position: relative; */
  /* left: 631px; */
  /* top: 478px */
}

.about-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background: var(--light-blue);
}

.img-about {
  width: 460px;
  height: 479px;
  border-radius: 230px;
  background: url(./assets/images/me.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 16px solid var(--white-c);
  margin-top: 59px;
}
.about-section p {
  color: #000;
  font-size: 33px;
  font-family: var(--sans);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8.25px;
  text-align: center;
  margin-top: 69px;
}

.work-section {
  background: var(--light-blue);
  font-family: var(--lily);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-section h2 {
  color: #000;
  font-size: 72px;
  /* font-family: Lily Script One; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 178px;
}

.work-section a {
  color: #000;
  font-size: 35px;
  /* font-family: Lily Script One; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 30px;
}

.work-section img {
  max-width: 855px;
  margin-top: 100px;
}

.contact-section {
  background: var(--light-blue);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 23px;
}

.contact-section h2 {
  color: #000;
  font-size: 72px;
  font-family: var(--lily);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 178px;
}
.contact-section input,
.contact-section textarea {
  width: 596px;
  height: 110px;
  color: #000;
  font-size: 35px;
  font-family: var(--sans);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px;
}

.contact-section textarea {
  min-height: 318px;
}

.contact-section button {
  width: 242px;
  height: 110px;
  flex-shrink: 0;
  background: transparent;
  border: 7px solid #fff;
  color: #fff;
  font-size: 35px;
  font-family: var(--sans);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  letter-spacing: 11.2px;
  margin-bottom: 100px;
}

.contact-section input::placeholder,
.contact-section textarea {
  color: #000;
  font-size: 35px;
  font-family: var(--sans);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 11.2px;
}

footer {
  display: flex;
  color: #000;
  font-size: 35px;
  justify-content: center;
  font-family: var(--lily);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px;
  background: var(--light-blue);
}

@media (max-width: 850px) {
  .work-section img {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .work-section img {
    width: 400px;
  }
  .contact-section input,
  .contact-section textarea {
    width: 400px;
  }
}

@media (max-width: 488px) {
    *{
        margin-top: 0;
    }
  .img-about {
    width: 200px;
    height: 202px;
  }
  .hero-section h2{
    font-size: 37px;
  }

  .hero-section h1{
    font-size: 57px;
  }
  .work-section h2{
    font-size: 37px;
  }
  .contact-section h2{
    font-size: 37px;
  }

  .work-section a{
    font-size: 20px;
  }
  .about-section p{
    font-size: 20px;
  }
  .work-section h2{
    margin-top: 0;
  }
}

@media (max-width: 370px) {
    .work-section img {
        width: 200px;
      }
      .contact-section input,
      .contact-section textarea {
        width: 200px;
      }
}
